h1 {
    margin: center;
    }

    form li {
    list-style: none;
    margin-bottom: 10px;

    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f1f1f1;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
      }
    
    * {
      box-sizing: border-box;
    }

    .container {
        padding: 16px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.3);
        width: 400px;
        max-width: 100%;
      }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px;
        margin: 5px 0 px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }

    select {
        border-color: transparent transparent #fff transparent;
        top: 7px;
        padding: 12px;
        display: inline-block;
        border: none;
        background-color: #ddd;
        outline: none;
        width : 368px;
        padding: 12px;
        margin: 0;
        box-sizing: border-box;
    }
    
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
      
    .registerbtn {
        background-color: #008cff;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }

    .registerbtn:hover {
      opacity: 1;
    }




    
 
    

    