﻿*{
    
    
}

body{
    background-color: rgb(255, 255, 255);
}
h1 {
    text-align:center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

input{
    padding: 1px;
    font-size: inherit;
}
input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 98%;
    border: 2px solid black;
}
input[type="password"] {
        display: block;
        margin-bottom: 25px;
        width: 98%;
        border: 2px solid black;

}
input[type="email"] {
        display: block;
        margin-bottom: 25px;
        width: 98%;
        border: 2px solid black;
}
input[type="submit"]{
        width: 100px;
        height: 45px;
        border: none;
        background: rgb(64, 78, 90);
        color: white;
}

.container{
    width: 305px;
    height: 447px;
    padding: 100 0 0;
    border:solid 1px;
    margin: 0 auto 100px;
    text-align:Center;
    box-sizing: border-box;
    font-size: 14;
    background:rgb(92, 228, 221);
}
    
        
        